body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
}

.containerHeader {
	width: 94%;
	margin: -10px auto;

}

.cabecalhoPrincipal {
	background-color: #FFF;
	padding: 2rem 0;
    margin-bottom: 2rem;
}

.cabecalhoPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
    display: flex;
    flex-direction: row;
}

.cabecalhoPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;


	border-bottom: 1px solid #9799A6;
}

.rodapePrincipal-contatoForm-legend {
	margin-bottom: 10px;
}

.footer {
	position: fixed;
	font-family: 'Open Sans',Arial,sans-serif;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #FFF;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

.notfound {
	position: fixed;
	font-family: 'Open Sans',Arial,sans-serif;
	font-size: 64px;
	left: 0;
	bottom: 50%;
	width: 100%;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

.form {
	font-family: 'Open Sans',Arial,sans-serif;
	font-size: 18px;
	margin-top: 10%;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

input {
	padding: 7px;
	margin: 20px
}

button {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;

	border-bottom: 1px solid #9799A6;
	border-radius: 15%;
	cursor: pointer;
}

button:hover {
	color: #FFF;
	background-color: #9799A6;
}

.texto-th {
	font-weight: bold;
}

.texto-th a {
	text-decoration: none;
	color: crimson;
}

.texto-td {
	font-weight: bold;
}

/* Paginator */
.paginator {
    text-align: right;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
}
.pagination li {
    margin: 0 0.5rem;
}
.prev.disabled a,
.next.disabled a {
    cursor: not-allowed;
    color: #606c76;
}
.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

.form-add {
	max-width: 70%;
	margin-top: 1rem;
	align-items: center;
}

.form-add input {
	width: 74%;
}

.form-add label {
	width: 20%;

}

.form-add .form-button {
	max-width: 150px;
	max-height: 60px;
	width: 100%;
	height: 100%;
}

.form-add .buttons-form {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}



@media(min-width: 769px) {

	.container {
		width: 85%;	
	}

	.subtitulo {
		text-align: left;
	}



	.cabecalhoPrincipal-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.cabecalhoPrincipal-nav-link:hover {
		color: #FFF;
		background-color: #9799A6;
	}

	.cabecalhoPrincipal-titulo {
		margin: 0;
	}

	.cabecalhoPrincipal-nav {
		width: auto;
	}

	.cabecalhoPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}

	.rodapePrincipal-contatoForm {
		margin-top: 0;
		text-align: left;
	}

	.conteudoPrincipal-cursos-link:nth-child(3n) {
		margin-right: 0;
	}

	.conteudoPrincipal-cursos-link:nth-child(3n+1) {
		margin-left: 0;
	}

}

@media(min-width: 1000px) {
	.conteudoPrincipal-cursos-link {
		margin: 1.333%;
	}

	.conteudoPrincipal-cursos-link:nth-child(3n) {
		margin-right: 1.33%;
	}

	.conteudoPrincipal-cursos-link:nth-child(3n+1) {
		margin-left: 1.333%;
	}

	.conteudoPrincipal-cursos-link:nth-child(4n) {
		margin-right: 0;
	}

	.conteudoPrincipal-cursos-link:nth-child(4n+1) {
		margin-left: 0;
	}

	.videoSobre-sobre {
		margin-left: 1.5em;
	}

}